html {
    background: url("img/Football-quiz.-10-questions.jpg") no-repeat center fixed;
    background-size: cover;
color: azure;
}
body {
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    margin: auto; 
    padding: 10px;}

button {
border-radius: 10px;
color: black;
padding: 5px 15px;
}

button:hover {

background-color: wheat;
color: black;
cursor: pointer;
}

.nav {
color: white;
font-size: 25px;
padding-left: 81px;

}
